[branch]
	autoSetupMerge = always
	autoSetupRebase = always
[fetch]
    prune = true
[push]
	default = current
[pull]
	rebase = merges
[pack]
	threads = 0
[alias]
	done = !git checkout master && git pull --rebase && git merge --no-ff @{-1} && git push
	history = log --no-merges --pretty=format:'%C(bold blue)<%an> %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short
	back = checkout "@{-1}"
	new = !sh -c 'git log $1@{1}..$1@{0} "$@"'
	tidybranches = "!f() { git checkout --quiet master && git branch --merged | grep --invert-match '\\*' | xargs -n 1 git branch --delete; git checkout --quiet @{-1}; git remote prune origin; }; f"
[user]
	email = marshall@pol.rs
	name = "Marshall Polaris"
[rerere]
	enabled = True
[merge]
	conflictstyle = diff3
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[github]
	user = mqp
[core]
	excludesfile = /home/mqp/.gitignore
[init]
	defaultBranch = master
