.AppleDouble/
.DS_Store/
*.elc
.#*
.emacs.d/elpa
.emacs.d/places
.emacs.d/tramp
.emacs.d/eshell/history
.emacs.d/eshell/lastdir
.emacs.d/smex-items
.emacs.d/recentf
.emacs.d/history
.emacs.d/ido.hist
.emacs.d/nrepl-history
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list/
.emacs.d/backups/
.emacs.d/url/
.emacs.d/session*
.httpie/sessions