.AppleDouble/
.DS_Store/
*.elc
.#*
emacs/.emacs.d/elpa
emacs/.emacs.d/places
emacs/.emacs.d/tramp
emacs/.emacs.d/eshell/history
emacs/.emacs.d/eshell/lastdir
emacs/.emacs.d/smex-items
emacs/.emacs.d/recentf
emacs/.emacs.d/savehist
emacs/.emacs.d/history
emacs/.emacs.d/ido.hist
emacs/.emacs.d/nrepl-history
emacs/.emacs.d/cider-history
emacs/.emacs.d/ac-comphist.dat
emacs/.emacs.d/auto-save-list/
emacs/.emacs.d/backups/
emacs/.emacs.d/url/
emacs/.emacs.d/session*
http/.httpie/sessions
clojure/.lein/self-installs
