Emacs.geometry: 120x40
Emacs.background: #3F3F3F
Emacs.pane.menubar.shadowThickness: 1
Emacs.pane.menubar.margin: 1
Emacs.toolBar: off
Emacs.menuBar: off
Emacs.verticalScrollBars: off
Emacs.cursorColor: white

URxvt*.geometry: 120x40
URxvt*.depth: 32
URxvt*.foreground: #FFFFFF
URxvt*.background: [80]#000000
URxvt*.cursorColor: white
URxvt*.colorUL: #c5f779
URxvt*.underlineColor: #c5f779
URxvt*.font: xft:Consolas:size=11
URxvt*.iconFile: /usr/share/icons/Humanity/apps/64/gnome-terminal.svg
URxvt*.letterSpace: -2
URxvt*.scrollBar: false
URxvt*.saveLines: 10000

*foreground: #FFFFFF
*background: #000010
*color0: #000000
*color1: #9e1828
*color2: #aece92
*color3: #968a38
*color4: #414171
*color5: #963c59
*color6: #418179
*color7: #bebebe
*color8: #666666
*color9: #cf6171
*color10: #c5f779
*color11: #fff796
*color12: #4186be
*color13: #cf9ebe
*color14: #71bebe
*color15: #ffffff
